.advantages {
  padding: 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
    padding-left: 230px;
  }

  &::before {
    content: "";
    background-image: url("/img/decor-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: @tablet-width) {
      background-image: url("/img/decor-zigzag-line-tablet.svg");
      height: 17px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("/img/decor-zigzag-line-desktop.svg");
      height: 22px;
    }
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 0;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    column-count: 2;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 345px auto;
  }
}

.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @title;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    width: 55px;
    height: 38px;
    display: block;
    padding-bottom: 20px;
  }
}

.advantages__item--eco {
  &::before {
    background-image: url("/img/icon-advantages-eco.svg");
  }
}

.advantages__item--style {
  &::before {
    background-image: url("/img/icon-advantages-style.svg");
  }
}

.advantages__item--like {
  &::before {
    background-image: url("/img/icon-advantages-like.svg");
  }
}

.advantages__item--love {
  &::before {
    background-image: url("/img/icon-advantages-love.svg");
  }
}

.advantages__item--support {
  &::before {
    background-image: url("/img/icon-advantages-support.svg");
  }
}

.advantages__item--gift {
  &::before {
    background-image: url("/img/icon-advantages-gift.svg");
  }
}
