.contacts {
  padding: 38px 30px 40px;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
}

.contacts__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: @content;
  padding-top: 28px;
  padding-bottom: 62px;
}

.contacts__link {
  color: @content;
  text-decoration: underline;
  text-decoration-color: @link-underline;
}

.contacts__map {
  padding-bottom: 40px;
}
