.contacts {
  padding: 38px 30px 40px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-areas:
      "title map"
      "address map"
      "button map";
  }
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
  grid-area: title;
}

.contacts__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: @content;
  padding-top: 28px;
  padding-bottom: 62px;

  @media (min-width: @tablet-width) {
    display: flex;
    grid-area: address;
  }
}

.contacts__link {
  color: @content;
  text-decoration: underline;
  text-decoration-color: @link-underline;
}

.contacts__map {
  padding-bottom: 40px;
  grid-area: map;
}

.contacts__button {
  @media (min-width: @desktop-width) {
    grid-area: button;
  }
}
