.form {
  padding: 0 30px 55px;
}

.form__title-partition {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @accent;
  padding-top: 30px;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @title;
}

.form__input {
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: @title;
    opacity: 30%;
  }
}

.form__input--phone {
  text-transform: uppercase;
}

.form__textarea {
  padding: 17px;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: @title;
    opacity: 30%;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: @content;
  padding: 17px 0 30px;
}
