.form-modal {
  padding: 30px 30px 46px;
  border: 1px solid @border;
  box-sizing: border-box;
}

.form-modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
  text-align: center;
}

.form-modal__description {
  padding: 14px 0 21px;
  font-size: 15px;
  line-height: 30px;
  color: @content;
  text-align: center;
}
