.menu-catalog {
  position: relative;

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      background-image: url("/img/decor-zigzag.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      height: 24px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

.menu-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    background-color: @bg-section;
    display: flex;
    padding: 0 50px;
  }
}

.menu-catalog__item--interior {
  background-color: @accent;
  background-image: url("/img/decor-interior.svg");
  background-position: right 35px top 20px;
}

.menu-catalog__item--toys {
  background-color: #56c3b2;
  background-image: url("/img/decor-toy.svg");
  background-position: right 25px top 25px;
}

.menu-catalog__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @title-invert;
  text-decoration: none;
  width: 150px;
  display: block;
}

.menu-catalog__item {
  background-repeat: no-repeat;
  padding: 25px 30px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-bottom: 50px;
  }
}
