.page__body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

.page__header {
  padding: 22px 30px;
}

.page__footer {
  background-color: @bg-section;
  padding: 25px 30px 28px;
}
