.page-main__topic {
  background-color: @bg-section;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @title;
  text-align: center;
  margin: 0;
  padding: 50px 30px;
}

.page-main__topic--image {
  width: 100%;
  height: 280px;
  box-sizing: border-box;
  background-image: url("../img/page-main__topic.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/page-main__topic--tablet.jpg");
    height: 630px;
    padding: 100px 50px;
    font-size: 43px;
    line-height: 50px;
  }
}

.page-main__description {
  font-size: 13px;
  line-height: 24px;
  color: @content;
  padding: 17px 30px 0;
}
