@process__wrapper: 0 34px;

.process {
  padding: 20px 0 33px;
  border: 1px solid @border;
  box-sizing: border-box;
}

.process__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @title;
  padding: @process__wrapper;
  padding-bottom: 26px;
  margin: 0;
}

.process__description {
  font-size: 13px;
  line-height: 24px;
  color: @content;
}

.process__wrapper {
  padding: @process__wrapper;
}
