@product-wrapper: 0 30px;

.product {
  border: 1px solid @border;
  box-sizing: border-box;
}

.product__image {
  background-color: @bg-section;
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @title;
  padding: @product-wrapper;
}

.product__properties-list {
  font-size: 13px;
  line-height: 30px;
  color: @content;
  padding: @product-wrapper;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @title;
  padding: @product-wrapper;
}
