.product-week {
  padding: 32px 30px 36px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas:
      "title title title slogan"
      "description . photo photo"
      "properties . photo photo"
      "price . photo photo"
      "button . photo photo";
    grid-template-columns: 292px 40px 1fr 1fr;
    padding: 40px 50px 45px;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas:
      "slogan title . photo"
      ". description . photo"
      ". properties . photo"
      ". price . photo"
      ". button . photo";
    grid-template-columns: 175px auto 60px 50%;
    grid-template-rows: 157px auto 230px 62px 50px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.product-week__image-area {
  background-color: @bg-image;
  grid-area: photo;

  @media (min-width: @tablet-width) {
    margin-top: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.product-week__image {
  width: 100%;
  height: auto;
}

.product-week__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
  grid-area: title;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    position: absolute;
    grid-area: unset;
    left: 225px;
    top: 122px;
  }
}

.product-week__title-slogan {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @accent;
  text-transform: uppercase;
  grid-area: slogan;
  margin: 5px 0 18px;

  @media (min-width: @tablet-width) {
    margin: 7px 13px 45px 0;
    width: 100px;
    justify-self: end;
    align-self: center;
    text-align: center;
    line-height: 17px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px 45px 0 30px;
    width: 100px;
    line-height: 17px;
  }
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
  color: @content;
  grid-area: description;
  margin: 0 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.product-week__properties-list {
  font-size: 15px;
  line-height: 20px;
  color: @content;
  grid-area: properties;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 30px;
  align-content: flex-start;
}

.product-week__properties-name {
  width: 38%;
  padding: 8px 0;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    width: 33%;
  }
}

.product-week__properties-value {
  width: 62%;
  margin: 0;
  padding: 8px 0 10px;
  border-bottom: 1px solid @border;
}

.product-week__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @content;
  text-align: center;
  grid-area: price;
  margin: 22px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.product-week__button {
  grid-area: button;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    height: 50px;
    padding: 5px 20px 0;
  }
}
