.product-week {
  padding: 30px 30px 36px;
}

.product-week__image {
  background-color: @bg-section;
}

.product-week__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
}

.product-week__title-slogan {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @accent;
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
  color: @content;
}

.product-week__properties-list {
  font-size: 15px;
  line-height: 20px;
  color: @content;
}

.product-week__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @content;
  text-align: center;
}
