.reviews {
  padding: 30px 30px 45px;
}

.reviews__item {
  margin: 0;
  padding-bottom: 30px;
}

.reviews__toggle {
  padding-bottom: 38px;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @title;
}

.reviews__content {
  font-size: 15px;
  line-height: 30px;
  color: @content;
}

.reviews__autor-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @title;
}

.reviews__autor-insta {
  font-size: 17px;
  line-height: 30px;
  color: @content;
}
