/* Colors */
@basic-gray: #F1F1F1;
@light-green: #63D1BB;
@light-green-second: #62D1BA;
@bg-section: @basic-gray;
@title: #000000;
@title-invert: #ffffff;
@accent: @light-green;
@content: #444444;
@bg-button: #ffffff;
@link-underline: @light-green-second;
@border: #ECECEC;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff"),
    local(verdana),
    local(arial);
  font-weight: 400;
  font-style: normal;
}
